*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
:root{
    font-size: 60%;
}
body{
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 90vw;
    max-width: 700px;
}
body, button, input, textarea{
    color: #d6d1d1;
    font: 500 2rem poppins
}
@media(min-width:700px){
    :root{
        font-size: 62.5%;
    }
}