.select-block label,
.input-block label
.textarea-block label{
    font-size: 2.4rem;
}
.input-block input,
.select-block select,
.textarea-block textarea{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid black;
    outline: 0;
    padding: 0 1.6rem;
    font: 3.6rem;
    cursor: pointer;
    color: black;
}

textarea{
    resize: vertical;
}