#page-landing{
    background-color: blueviolet;

}
#container #logo-container{
    text-align: center;
}
#container #logo-container h2{
    margin-bottom: 2rem;
}
#container #logo-container h1{
    margin-top: 2.5rem;
}
#container .banner{
    width: 100%;
}
.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}
.buttons-container a{
    width: 30rem;
    height: 10.4rem;
    border-radius: .8rem;
    margin-right: 1.6rem;
    font: 700 2.4rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
}
.buttons-container img{
    margin-right: .7rem;
}
.buttons-container a.study{
    background-color: magenta;
    
}
.buttons-container a.teach{
    background-color: lime;
    margin-right: 0;
}
.total-users{
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
@media(min-width:1100px){
    #page-landing #container{
        max-width: 1100px;

        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "logo image image"
        "button button text";
        gap: 60px;
    }
    .logo-container{
        grid-area: logo;
        text-align: initial;
        align-self: center;
    }
    .logo-container h1{
        height: 100%;
    }
    .banner{
        grid-area: image;
    }
    .buttons-container{
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }
    .total-users{
        grid-area: text;
        justify-self: end;
    }
}