<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="a plataform for sharing knowledge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matheus Santos Nascimento">
    <meta name="keywords" content="webclass, web-class, web, class, web_class">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="css/others/forms.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/others/header.css">
    <link rel="stylesheet" href="css/others/study.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>WebClass</title>
</head>
<body id="page-study">
    <div id="container">
        <header class="page-header">
            <div class="top-bar">
                <a href="/">
                <img src="images/icons/back.svg" alt="back"></a>
                <h1>WebClass</h1>
            </div>
            <div class="header-content">
                <strong>these are the available teachers</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject">class</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">select an option</option>
                            <option value="1">Art</option>
                            <option value="2">History</option>
                            <option value="3">English</option>
                            <option value="4">geography</option>
                            <option value="5">physics</option>
                            <option value="6">biology</option>
                            <option value="7">chemistry</option>
                            <option value="8">math</option>
                            <option value="9">physical education</option>
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weakday">weakday</label>
                        <select name="weakday" id="weakday">
                            <option value="" disabled="" hidden="">select an option</option>
                            <option value="1">sunday</option>
                            <option value="2">Monday</option>
                            <option value="3">Tuesday</option>
                            <option value="4">Wednesday</option>
                            <option value="5">Thursday</option>
                            <option value="6">Friday</option>
                            <option value="7">Saturday</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">schedule(13 is 1pm)</label>
                        <input type="time" name="time" id="time" min="0" max="12">

                    </div>
                    <div class="filter">
                        <button type="submit">filter</button>
                    </div>
                </form>
            </div>
        </header>
        <main>
            <article class="teacher-item">
                <header>
                    <img 
                        src="https://avatars2.githubusercontent.com/u/2254731?s=460&amp;u=0ba16a79456c2f250e7579cb388fa18c5c2d7d65&amp;v=4" 
                        alt="Diego Fernandes">
                    <div>
                        <strong>Diego Fernandes</strong>
                        <span>Chemistry</span>
                    </div>
                </header>
            
                <p>Enthusiast of the best advanced chemistry technologies.<br><br>Passionate about blowing things up in the laboratory and changing people's lives through experiments. More than 200,000 people have experienced one of my explosions.</p>
            
                <footer>
                    <p>price / hour<strong>$ 20,00</strong>
                    </p>
                    <button type="button">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </button>
                </footer>
            </article>
        </main>
    </div>
</body>
</html>