<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="a plataform for sharing knowledge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matheus Santos Nascimento">
    <meta name="keywords" content="webclass, web-class, web, class, web_class">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="css/others/forms.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/others/header.css">
    <link rel="stylesheet" href="css/others/study.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>WebClass</title>
</head>
<body id="page-study">
    <div id="container">
        <header class="page-header">
            <div class="top-bar">
                <a href="/">
                <img src="images/icons/back.svg" alt="back"></a>
                <h1>WebClass</h1>
            </div>
            <div class="header-content">
                <strong>these are the available teachers</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject">class</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">select an option</option>
                            {%for subject in subjects %}
                                <option value="{{loop.index}}" {{"selected" if filters.subject == loop.index }}>
                                    {{subject}}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weakday">weakday</label>
                        <select name="weakday" id="weakday">
                            <option value="" disabled="" hidden="">select an option</option>
                            {%for weakday in weakday %}
                                <option value="{{loop.index}}" {{"selected" if filters.weakday == loop.index }}>
                                    {{weakday}}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">schedule(13 is 1pm)</label>
                        <input type="time" name="time" id="time" min="0" max="24" value="{{filters.time}}">

                    </div>
                    <div class="filter">
                        <button type="submit">filter</button>
                    </div>
                </form>
            </div>
        </header>
        <main>
            {%for teacher in teachers %}
            <article class="teacher-item">
                <header>
                    <img 
                        src="{{teacher.avatar}}" 
                        alt="{{teacher.name}}">
                    <div>
                        <strong>{{teacher.name}}</strong>
                        <span>{{teacher.subject}}</span>
                    </div>
                </header>
            
                <p>{{teacher.bio}}</p>
            
                <footer>
                    <p>price / hour<strong>$ {{teacher.cost}}</strong>
                    </p>
                    <button type="button">
                        <a href="https://api.whatsapp.com/send?l=en_US&phone=1{{teacher.whatsapp}}&text=I'm interested in your {{teacher.subject}} class {{teacher.name}}">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                        </a>
                    </button>
                </footer>
            </article>
            {%endfor%}
            
        </main>
    </div>
</body>
</html>