<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="a plataform for sharing knowledge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matheus Santos Nascimento">
    <meta name="keywords" content="webclass, web-class, web, class, web_class">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="css/others/forms.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/others/header.css">
    <link rel="stylesheet" href="css/others/teach.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>WebClass</title>

    <script src="scripts/addfield.js" defer></script>
</head>
<body id="page-teach">
    <div id="container">
        <header class="page-header">
            <div class="top-bar">
                <a href="/">
                <img src="images/icons/back.svg" alt="back"></a>
                <h1>WebClass</h1>
            </div>
            <div class="header-content">
                <strong>wow! incredible you want to teach</strong>
                <p>the first step is to fill out the registration form below</p>
            </div>
        </header>
        <main>
            <form action="" id="create-class">
                <fieldset>
                    <legend>Your data</legend>
                    <div class="input-block">
                        <label for="name">name</label>
                        <input name="name" id="name" required>
                    </div>
                    <div class="input-block">
                        <label for="avatar">link of your photo <small>(start with https: //)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>
                    <div class="input-block">
                        <label for="whatsapp">whatsapp <small>(only numbers)</small></label>
                        <input type="number" name="whatsapp" id="whatsapp" required>
                    </div>
                    <div class="textarea-block">
                        <label for="bio">biography</label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>About class</legend>
                    <div class="select-block">
                        <label for="subject">class</label>
                        <select name="subject" id="subject" required>
                            <option value="">select an option</option>
                            {%for subject in subjects %}
                                <option value="{{loop.index}}">
                                    {{subject}}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="cost">price / hour <small>($)</small></label>
                        <input type="number" name="cost" id="cost" required>
                    </div>
                </fieldset>
                <fieldset id="schedule-items">
                    <legend>Available times
                        <button type="button" id="add-time">+ New time</button>
                    </legend>
                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weakday">weak day</label>
                            <select name="weakday[]" required>
                                <option value="">select an option</option>
                                {%for weakday in weakday %}
                                    <option value="{{loop.index}}">
                                        {{weakday}}
                                    </option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="input-block">
                            <label for="time-from">work time start</label>
                            <input type="time" name="time-from[]" required>
                        </div>
                        <div class="input-block">
                            <label for="time-to">work time end</label>
                            <input type="time" name="time-to[]" required>
                        </div>
                    </div>
                </fieldset>
            </form>
            <footer>
                <p>
                    <img src="images/icons/warning.svg" alt="warning">
                    important! <br>
                    fill in all the data
                </p>
                <button type="submit" form="create-class">register</button>
            </footer>
        </main>
    </div>
    
</body>
</html>