#page-study #container{
    width: 100vw;
    height: 100vh;
}
#search-teachers{
    margin-top: 3.2rem;
}
#search-teachers .select-block{
    margin-bottom: 2.5rem;
}
#search-teachers button{
    width: 100%;
    height: 5.6rem;
    background-color: lime;
    color: #fff;

    border: 0;
    border-radius: .8rem;

    cursor: pointer;

    font: 700 4.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.2s;
    
    margin-top: 3.2rem;
}
#search-teachers button:hover{
    background-color: limegreen;
}

#page-study main{
    color: black;
    margin: 3.2rem auto;
    width: 90%;
}
#page-study main .no-results{
    font-size: 4.5rem;
    color: black;
}
.teacher-item{
    background-color: lightgray;
    border: 1px solid whitesmoke;
    border-radius: .8rem;
    margin-top: 2.4rem;
}
.teacher-item header{
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}
.teacher-item header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.teacher-item header div strong{
    font: 700 2.4rem;
    display: block;
}
.teacher-item header div span{
    font-size: 1.6rem;
    display: block;
    margin-top: .4rem;
}
.teacher-item > p{
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;

}
.teacher-item footer{
    padding: 3.4rem 2rem;
    border-top: 1px solid gray;
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teacher-item footer p{
    font-size: 1.6rem;
}
.teacher-item footer p strong{
    color: blueviolet;
    display: block;
}
.teacher-item footer button{
    width: 20rem;
    height: 5.6rem;
    font-size: 1.6rem;
    background-color: lime;
    text-decoration: none;
    margin-left: 1.6rem;
    

    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    transition: background 0.2s;
}
.teacher-item footer button:hover{
    background-color: limegreen;
}
.teacher-item footer button a{
    text-decoration: none;
    color: white;
}
@media (min-width:700px){
    #page-study #container{
        max-width: 100vw;
    }
    .page-header{
        height: 340px;
    }
    .page-header .header-content{
        max-width: 900px;
        flex: 1 1;
        margin: 0 auto;

        padding-bottom: 48px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page-header .header-content strong{
        font-size: 3.2rem;
        max-width: 340px;
    }
    .header-content .filter{
        padding-top: 11px;
    }
    .teacher-item header,
    .teacher-item footer{
        padding: 32px;
    }
    #search-teachers{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        position: absolute;

        bottom: -28px;
    }
    #page-study main{
        padding: 32px 0;
        max-width: 740px;
        margin: 0 auto;
    }
    #search-teachers .select-block{
        margin-bottom: 0;
    }
    #search-teachers .input-block input{
        margin-top: 1.5rem;
    }
    .teacher-item footer p strong{
        display: initial;
        margin-left: 16px;
    }
    .teacher-item > p{
        padding: 0 32px;
    }
    .teacher-item footer button {
        width: 245px;
        font-size: 16px;
        justify-content: center;
    }
    .teacher-item footer button img{
        margin-right: 16px;
    }
}